.mapa {
    overflow: hidden;
    height: 450px;
    width: 680px;
    /* background-color: aliceblue; */
    display: inline-flex;
    flex-direction: column;
}

.mapa .fila {
    height: 75px;
    width: 680px;
    background-color: transparent;
    /* border: 1px solid green; */
    display: inline-flex;
}

.mapa .fila .columna{
    height: 75px;
    width: 68px;
    background-color: transparent;
    /* border: 1px solid green; */
}

.mapa .fila .columna:hover{
    background-color: blue;
    /* border: 1px solid green; */
}

.mapa .mapaImg {
    position: absolute;
    height: 450px;
    width: 680px;
    z-index: -1;
    /* zoom: 5; */
}

.mapa .mapzoom {
    /* position: absolute; */
    height: 450px;
    /* background-color: red; */
    width: 680px;
    transform: s;
}

#prinmap .content {
    overflow: hidden !important;
}

.mapa .mapzoom.openM {
    z-index: 1;
}
.mapa .mapzoom.closeM {
    z-index: -1;
}

.mapa .dataMap {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    background-color: rgb(20, 20, 20);
}

.cola {
    fill:red !important;
    stroke: black;
    /* transform: scale(1.3) translate(-55px, -8px); */
    animation: pulse 1s infinite ease;
}

@keyframes pulse{
    from {filter: invert(1) drop-shadow(0px 0px 10px #fff);}
    to {filter: invert(1) drop-shadow(0px 0px 0px #fff);}
}

.cls-4 {
    cursor: pointer;
}
.cls-3 {
    cursor: pointer;
}

.cls-1{fill:#141414;}.cls-2{fill:#3c3c3c;}.cls-3{fill:rgb(112, 129, 115);}.cls-5{fill:none;}.cls-6{fill:#f2f2f2;}


.mapa .reticula {
    top: 0;
    z-index: -1;
    position: absolute;
    height: 450px;
    width: 680px;
    /* background-color: red; */
    display: inline-flex;
    flex-direction: column;
}
.mapa .reticula div {
    display: inline-flex;
    width: 100%;
    height: 100%;
}

.mapa .reticula div div{
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#Capa_2 {
    filter: opacity(.7) brightness(1.3);
}